<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clínica Bem Estar</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>


    <div class="sessao-clinica">

        <div class="box-clinica">

            <!-- IMAGEM -->
            <div class="imagem">
                <img src="~/css/medicounidos.jpg" alt="Médicos">
            </div>

            <!-- TEXTO -->
            <div class="texto">
                <h1>CLÍNICA BEM ESTAR</h1>

                <h3>Missão</h3>
                <p>
                    Promover a saúde e o bem-estar dos pacientes por meio de um atendimento
                    humanizado, ético e de qualidade, oferecendo serviços médicos confiáveis.
                </p>

                <h3>Valores</h3>
                <ul>
                    <li>Humanização</li>
                    <li>Ética</li>
                    <li>Qualidade</li>
                    <li>Compromisso</li>
                </ul>

                <a class="btn" href="/Home/Financeiro">Painel Geral</a>
            </div>

        </div>

    </div>
</body>
        ``




</html>